/*
 This is my CSS
 Sherrod Jenkins
 January 16, 2018
*/

h1
{
  text-align: center;
}

.first-button
{
  background-color: green; 
  color: white; 
  font-size: 100px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.second-button
{
  background-color: red;
  color: white; 
  font-size: 100px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  
}

.third-button
{
  background-color: blue;
  color: white; 
  font-size: 100px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.fourth-button
{
  background-color: yellow;
  color: black; 
  font-size: 100px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.first-button:hover, .second-button:hover, .third-button:hover, .fourth-button:hover
{
  background-color: white;
  color: black;
}

.first-button:active, .second-button:active, .third-button:active, .fourth-button:active
{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.first-button:focus, .second-button:focus, .third-button:focus, .fourth-button:focus
{
  outline: 0;
}
